*{
    margin: 0;
    scroll-behavior: smooth;
}
html,body{
    background-color: gray;
    width: 100%;
    height: auto;
}
.main-body{
    width: 100%;
    height: 100%;
}
section{
    height: 100vh;
}
.home{
    background-image: url(https://img.freepik.com/free-vector/white-abstract-background-design_23-2148825582.jpg?size=626&ext=jpg&ga=GA1.1.1803636316.1701043200&semt=ais);
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav{
    width: 100%;
    height: 60px;
    background-color: black;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    gap: 20px;
}
.nav a{
    background: black;
    color: white;
    width: 98px;
    height: 80%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}
.nav a:hover{
    background: white;
    color: black;
    width: 98px;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}
.home1{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}
.home2{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.profile{
    width: 600px;
    height: 600px;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 5%;
    border-top-left-radius: 5%;
    transition: 1.5s;
    cursor: pointer;
    padding-right: 30px;
}
.profile:hover{
    width: 600px;
    height: 600px;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 25%;
    border-top-left-radius: 25%;
    transition: 1.5s;
} 
.home2 h1{
    font-size: 30px;
    text-align: left;
}
.home2 p{
    padding: 20px 0px;
    font-size: 20px;
}
h2{
    padding-top: 10px;
    display: flex;
}
.namelogo{
    color: white;
    float: left;
    position: absolute;
    left: 25px;
    font-size: 30px;
}
.verified{
    width: 30px;
    height: 30px;
}
#services{
    width: 100%;
    height: 100vh;
    background-color: white;
}
h1{
    text-align: center;
    padding-top: 120px;
    font-size: 40px;
    color: black;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 750px;
}
.div1{
    background-color: white;
    border: 1px solid grey;
    margin: 90px;
    border-radius: 20px;
    overflow: hidden;
}
.div2{
    background-color: white;
    margin: 90px;
    border: 1px solid grey;
    border-radius: 20px;
    overflow: hidden;
}
.div3{
    background-color: white;
    border: 1px solid grey;
    margin: 90px;
    border-radius: 20px;
    overflow: hidden;
}
.div1img{
    width: 100%;
    height: 295px;
}
h4{
    text-align: center;
    font-size: larger;
}
p{
    text-align: center;
    padding: 30px;
    font-size: larger;
}

span{
    color: red;
    font-size: x-large;
}
#projects{
   background-color: white;
   width: 100%;
   height: 100vh;
}
.project-main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}
.main1abslt{
    width: 30%;
    height: 75%;
    border: 2px solid black;
    background-color: black;
    border-radius: 50px;
    overflow: hidden;
}
.main1img{
   width: 100%;
   border-bottom-left-radius: 10%;
   border-bottom-right-radius: 10%;
}
.main2abslt{
    width: 30%;
    height: 75%;
    border: 2px solid black;
    background-color: black;
    border-radius: 50px;
    overflow: hidden;
}
.main2img{
    width: 100%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
h5{
    color: white;
    font-size: x-large;
    text-align: center;
    padding: 25px 0px;
}
.project-main p{
    color: white;
    font-size: larger;
    text-align: center;
    margin: 0px 30px;
}
#contact-me{
    background-image: url(https://img.freepik.com/free-photo/white-cement-wall_1203-512.jpg?w=1380&t=st=1701248148~exp=1701248748~hmac=1d6f7394f4c0f5d49d9b60fd828e8ad69afdadf23dc95507d3025fb586d914a2);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
}

form tr:last-child{
    text-align: center;
}
.form{
    width: 70%;
    height: 50%;
    background-image: url(https://img.freepik.com/free-vector/white-gradient-background-abstract-modern-design_343694-3085.jpg?w=1800&t=st=1701251416~exp=1701252016~hmac=5820059c056a01010a0d07a3fde9579871d06c390d16a4a0fe2e52c5751449af);
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    border: 5px solid white;
    border-radius: 20px;
}
input{
    width: 100%;
    height: 40px;
    padding-left: 10px;
    cursor: pointer;
    border-style: none;
}
input:hover{
    background-color: rgba(158, 153, 153,0.2);
}
td{
    padding: 0px 15px;
    font-size: 20px;
}
table {
    width: 75%;
    height: 60%;
}
textarea{
    border-style: none;
}
button{
    width: 150px;
    height: 40px;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 20px;
}
#contact-me a{
    text-decoration: none;
    color: black;
}

.socialicon{
    border-radius: 15px;
    width: 33px;
    height: 33px;
}
footer{
    height: 150px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.footertext{
    color: white;
    text-align: left;
}
